quartus/db/
quartus/proj_sbox_stream_cipher.qpf
quartus/proj_sbox_stream_cipher.qsf
quartus/proj_stream_cipher.qws
quartus/incremental_db
quartus/output_files
quartus/proj_stream_cipher.qpf
quartus/proj_stream_cipher.qsf
quartus/proj_stream_cipher_assignment_defaults.qdf

modelsim/modelsim.ini
modelsim/proj.mpf
modelsim/transcript
modelsim/work/
modelsim/stream_cipher_tb.cr.mti
modelsim/stream_cipher_tb.mpf
modelsim/vsim.wlf
modelsim/vish_stacktrace.vstf
